{% extends 'base.html.twig' %}

{% block title %}Hello FamillyController!{% endblock %}

{% block monTitre %}Voici la liste des Familles{% endblock %}
{% block body %}
    {% for familly in famillies %}
    <a href="{{ path('show_animals_familly', { id : familly.id }) }}"><h2 class="border-bottom border-primary my-5">{{ familly.name|capitalize }}</h2></a>
        {% for animal in familly.animals %}
            {% include "partials/_animals_cat.html.twig" %}
        {% endfor %}
    {% endfor %} 
{% endblock %}
